* {
    box-sizing: border-box;
    font-weight: 300;
    color: #3B3B3B;
    letter-spacing: -0.5px;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');

body {
    width: 100%;
    height: 100%;
    font-family: 'Pretendard', 'Akrobat', 'Apple SD Gothic Neo', Sans-serif;

}


.sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    display: none;
}

.sidenav .inner{
    padding: 30px;height: 100%;
    max-width: 1080px; margin: 0 auto;
            border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
}

    table {
        width: 100%;
        text-align: left;
       
        font-size: 15px;
        
        font-weight: 500;

    }

    th {
        padding: 15px 0;
        font-size: 20px;
    }

    th a {
        font-weight: 700;
    }

    th span {
        color: #ff0000;
        font-weight: 800;
        padding-right: 15px;
        display: inline-block;
        font-size: 12px;
        vertical-align: 6px;
    }

@media all and (max-width:1023px) {
    
    .sidenav .closebtn {
    width: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    }
    .menu2 {
        position: fixed;
        width: 35px;
        right: 20px;
        top: 20px;
        cursor: pointer;
    }

    .p2 {
        width: 100%;
        height: 180px;
    }

    .p2-1 {
        padding: 20px;
    }
    
        .bt{
           display: none;
    }

    h1 {
        color: #000;
        font-size: 36px;
        font-weight: 700;
        display: inline-block;
    }

    .jm {
        width: 7px;
        margin-left: 1px;
        margin-top: 28px;
    }

    .jm2 {
        width: 6px;
        margin-top: 8px;
        margin-left: 3px;
    }


    .p2-2_in {
        position: absolute;
        bottom: 20px;
    }

    .p2-2 {
        padding: 20px;
        display: none;
    }


    .p1 {
        width: 100%;

    }

    .p1-1 {
        width: 90%;
        background: linear-gradient(45deg, #ff4747, #ff0000);
        padding: 20px;
        height: 360px;
        position: relative;
    }

    h2 {
        color: #fff;
        font-size:30px;
        font-weight: 600;
    }

    .menu {
        display: none;
    }

    .fir2 {
        color: #fff;
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
    }

    .next {
        width: 200px;
        padding-top: 100px;
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .fir {
        position: absolute;
        bottom: 30px;
        right: 110px;
        color: #fff;
        font-size: 14px;
        font-weight: 600;
    }

    .p1-2 {
        width: 45%;
        height: 120px;
        background: #f2f2f2;
        float: left;
        background-size: cover;
    }

    .p1-22 {
        width: 45%;
        height: 120px;
        background: #fff;
        float: left;
        background: url(../img/bg_%EB%8C%80%EC%A7%80%201.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    footer {
        clear: both;
        width: 100%;
        height: 200px;
        padding: 40px 20px;
    }

    footer p {
        font-size: 13px;
        line-height: 20px;
        color: #a8a8a8;
    }

    footer p span {
        font-weight: 800;
        margin-right: 10px;
        color:#a8a8a8;
    }
    
    .bt2{
        margin-bottom: 100px;
    }
    
        footer a{
        display: inline-block;
        padding: 16px 28px;
        border: 0.5px solid #000;
        font-size: 16px;
        font-weight: 700;
        border-radius: 50px;
        margin-right: 10px;
            margin-bottom: 10px;
    
    color: #000;
    }


}


@media all and (min-width:1024px) {
    

    
    .sidenav .closebtn {
    width: 40px;
    position: absolute;
    top: 60px;
    right: 60px;
    cursor: pointer;
}

    .menu2 {
        display: none
    }

    .p2 {
        width: 60%;
        height: 100%;
        float: left;
    }

    .p1 {
        width: 40%;
        height: 100%;
        background: #ccc;
        float: left;
    }

    .p1-1 {
        width: 100%;
        height: 75%;
        background: linear-gradient(45deg, #ff3f3f, #ff0000);
        padding: 60px;
        position: relative;
    }

    .fir2 {
        margin-top: 10px;
        color: #fff;
        font-size: 15px;
        line-height: 24px;
    }

    .fir {
        color: #fff;
        text-align: right;
        font-size: 15px;
        position: absolute;
        bottom: 70px;
        right: 230px;
    }

    h2 {
        color: #fff;
        font-size: 40px;
        font-weight: 500;

    }

    .menu {
        width: 40px;
        position: fixed;
        top: 60px;
        right: 60px;
    }

    .next {
        width: 300px;
        position: absolute;
        bottom: 40px;
        right: 40px;
    }

    .p1-2 {
        width: 50%;
        height: 25%;
        background: #fff;
        float: left;
        background-size: cover;
    }

    .p1-22 {
        width: 50%;
        height: 25%;
        background: #fff;
        float: left;
        background: url(../img/bg_%EB%8C%80%EC%A7%80%201.png);
        background-size: 100% 100%;
    }

    .p2-1 {
        width: 100%;
        height: 75%;
        background: #fff;
        padding: 60px;
        position: relative;
    }
    .bt{
                position: absolute;
        bottom: 60px;;left: 60px;
    }
    .p2-1 a{
        display: inline-block;
        padding: 19px 40px;
        border: 0.5px solid #000;
        font-size: 18px;
        font-weight: 700;
        border-radius: 50px;
        margin-right: 10px;
        color: #000;
    }

    .p2-2_in {
        position: absolute;
        bottom: 60px;
    }

    .p2-2 {
        width: 100%;
        height: 25%;
        background: linear-gradient(to right, #fff, rgba(181, 181, 181, 0.18));
        padding: 60px;

    }

    .p2-2 p {
        font-size: 14px;
        line-height: 25px;
        color: #777777;
    }

    .p2-2 p span {
        font-weight: 800;
        margin-right: 10px;
        color: #777777;
    }

    h1 {
        color: #000;
        font-size:70px;
        font-weight: 600;
        display: inline-block;
    }

    .jm {
        width: 13px;
        margin-top: 55px;
        margin-left: 3px;
    }

    .jm2 {
        width: 12px;
        margin-top: 15px;
        margin-left: 8px;
    }



    footer{
        display: none;
    }

}
