* {
    box-sizing: border-box;
    font-weight: 300;
    color: #000;
    letter-spacing: -0.5px;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');



body {
    width: 100%;
    background: #fff;
    height: 100%;
    font-family: 'Pretendard', 'Akrobat', 'Apple SD Gothic Neo', Sans-serif;
}


.menu {
    width: 50px;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
}

.remote{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 70px;
    background: #ccc;
    z-index: 2000;
}

.remote_1{
    padding: 10px;
    width: 70px;
    background: #FF6DA6;
    border-bottom: 1px solid rgba(255, 255, 255, 0.36);
}
.body_in{
}



@media all and (max-width:1023px) {

.remote{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 60px;
    background: #ccc;
    z-index: 3000;
}

.remote_1{
    padding: 10px;
    width: 60px;
    background: #FF6DA6;
    border-bottom: 1px solid rgba(255, 255, 255, 0.36);
}
    .sidenav {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        display: none;
        z-index: 1000;
    }

    .sidenav .inner {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        position: relative;
        padding: 100px 20px;
    }

    .sidenav .closebtn {
        width: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }


    table {
        width: 100%;
        text-align: left;
        margin: 0 auto;
        font-size: 15px;
        max-width: 1080px;
        font-weight: 500;

    }

    th {
        padding: 15px 0;
        font-size: 20px;
    }

    th a {
        font-weight: 700;
    }

    th span {
        color: #ff0000;
        font-weight: 800;
        padding-right: 15px;
        display: inline-block;
        font-size: 12px;
        vertical-align: 6px;
    }

    .body1 table {
        display: none;
    }

    .body_in {
        width: 100%;
        padding: 100px 20px 0 20px;
    }

    .body1 {
        width: 100%;
    }

    .logo {
        position: absolute;
        z-index: 100;
        top: 20px;
        left: 20px;
        width: 35px;
    }
    
    .menu {
        width: 35px;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        z-index: 100;
    }

    .body1 span:nth-of-type(1) {
        color: rgb(255, 0, 0);
        font-size: 13px;
        font-weight: 700;
        position: absolute;

    }

    .body1 span:nth-of-type(2) {
        color: #3B3B3B;
        font-size: 25px;
        font-weight: 700;
        display: inline-block;
        position: absolute;
        left: 20px;
    }



    .body2 {
        width: 100%;
        
    }



    .cover_in {
        width: 100%;
        height: 100%;
        background: linear-gradient( to bottom, rgba(255, 255, 255, 0) 50%, #fff ); ;
        position: absolute;
        z-index: 0;
    }

    .cover {
        width: 300px;;
        height: 300px;
        background-image: url(../img/con1.jpg);
        position: absolute;
        top: 180px;
        right: 0;
        background-size: cover;
        z-index: -100;
        background-position: bottom;
        text-align: center;
    }

.title {
        z-index: 100;
    }

    .title span:nth-child(1) {
        width: 10px;
        display: inline-block;
        color: #ff0000;
        font-size: 12px;
        font-weight: 800;
        vertical-align:10px;
    }

    .title span:nth-child(2) {
        font-size: 25px;
        font-weight: 800;
        margin-left: 5px;
        color: #000;

    }
    
        .title span:nth-child(3) {
        display: none;
    }


    .title p:nth-child(2) {
        font-size: 13px;
        font-weight: 600;
        color: #afafaf;
        margin-top: 3px;
        margin-bottom: 350px;
        padding-left: 20px;
    }



    h1 {
        font-size: 30px;
        font-weight: 200;
        border-bottom: 1px solid #777777;
        display: inline-block;
        margin-bottom: 10px;
        z-index: 1000;
    }

    .product-title {
        margin: 10px 0;
        text-align: center;
        display: table;
        width: 100%;
    }

    .product-title2 {
        margin: 10px 0;
        text-align: center;
        display: table;
        width: 100%;
    }

    .product-img-div {
        display: table-cell;
        vertical-align: middle;
    }

    .product-img {
        width: 100%;
    }
    
    .sub_text{
        color: #ccc;
        text-align: center;
    }

    .text1 {
        font-size: 17px;
        line-height: 27px;
        text-align: justify;
        font-weight: 400;
    }

    .body2 p span {
        font-weight: 700;
        color: #FF6DA6;
    }
    
    
    h6 {
        display: inline-block;
        font-size: 17px;
        font-weight: 700;
        width: 200px;
        text-align: center;
        background: #FF6DA6;
        padding: 15px;
        color: #fff;
        float: right;
        margin-top: 30px;
    }

    footer {
        width: 100%;
        padding: 30px 0;
    }

    footer p {
        font-size: 13px;
        line-height: 20px;
        color: #777777;
    }

    footer p span {
        font-weight: 800;
        margin-right: 10px;
        color: #777777;
    }

}


@media all and (min-width:1024px) {

    
    .logo{
        position: absolute;
        width: 40px;
        top: 20px;
        left: 20px;
    }

    .menu {
        display: none;
    }

    .sidenav {
        height: 100%;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #fff;
        overflow-x: hidden;
        transition: 0.5s;
        display: none;
    }

    .sidenav .inner {
        width: 1080px;
        height: 100%;
        margin: 0 auto;
        position: relative;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 100px 40px;
    }

    .sidenav .closebtn {
        width: 50px;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

    table {
        width: 100%;
        text-align: left;
        margin: 0 auto;
        font-size: 15px;
        max-width: 1080px;
        font-weight: 500;

    }

    th {
        padding: 15px 0;
        font-size: 15px;
    }

    th a {
        font-weight: 700;
    }

    th span {
        color: #ff0000;
        font-weight: 800;
        padding-right: 15px;
        display: inline-block;
        font-size: 9px;
        vertical-align: 3px;
    }

    .body_in {
        width: 1024px;
        margin: 0 auto;
        position: relative;
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
    }

    .body1 {
        width: 25%;

        height: 100%;
        float: left;
        padding: 200px 20px;
    }




    .body2 {
        width: 75%;
        height: 100%;
        border-left: 1px solid #e0e0e0;
        float: left;
        padding: 30px;
        position: relative;
    }

    .cover {
        width: 450px;
        height: 450px;
        background-image: url(../img/con1.jpg);
        position: absolute;
        top: 100px;
        right: 0;
        background-size: cover;
        z-index: -100;
        background-position: bottom;
    }

    .cover_in {
        width: 100%;
        height: 100%;
        background: linear-gradient( to bottom, rgba(255, 255, 255, 0) 50%, #fff ); ;
        position: absolute;
        z-index: 0;
    }

    .title {
        margin-bottom: 60px;
        z-index: 100;
    }

    .title span:nth-child(1) {
        width: 10px;
        display: inline-block;
        color: #ff0000;
        font-size: 12px;
        font-weight: 800;
        vertical-align:10px;
    }

    .title span:nth-child(2) {
        font-size: 25px;
        font-weight: 800;
        margin-left: 5px;
        color: #000;

    }
    
        .title span:nth-child(3) {
        display: inline-block;
        color: #ff0000;
        font-size: 12px;
        font-weight: 800;
        vertical-align:10px;
            float: right;
    }


    .title p:nth-child(2) {
        font-size: 16px;
        font-weight: 600;
        color: #afafaf;
        margin-top: 3px;
        margin-bottom: 400px;
        padding-left: 20px;
    }



    h1 {
        font-size: 40px;
        font-weight: 200;
        border-bottom: 1px solid #777777;
        display: inline-block;
        margin-bottom: 10px;
        z-index: 1000;
    }


    .product-title {
        margin: 10px 0;
        text-align: center;
        display: table;
        width: 100%;
    }



    .product-img-div {
        display: table-cell;
        vertical-align: middle;
    }

    .product-img {
        max-height: 250px;
    }

    .sub_text {
        color: #ccc;
        font-size: 12px;
        text-align: center;
    }

    .text1 {
        font-size: 16px;
        line-height: 28px;
        text-align: justify;
        font-weight: 400;
    }

    .body2 p span {
        font-weight: 700;
        color: #FF6DA6;
    }

    .next_in {
        padding-top: 50px;
    }

    .next {
        position: relative;
        margin-top: 30px;
        margin: 0 auto;
        display: inline-block;
        border-bottom: 1px solid #3B3B3B;
        padding-bottom: 8px;
        cursor: pointer;
    }

    .next img {
        width: 70px;
        margin-top: 4px;
        margin-left: 4px;
    }

    h6 {
        display: inline-block;
        font-size: 17px;
        font-weight: 700;
        width: 200px;
        text-align: center;
        background: #FF6DA6;
        padding: 15px;
        color: #fff;
        float: right;
        margin-top: 30px;
    }


    footer {
        clear: both;
        width: 100%;
        border-top: 1px solid #e0e0e0;
        padding: 30px;
    }

    footer p {
        font-size: 13px;
        line-height: 20px;
        color: #777777;
    }

    footer p span {
        font-weight: 800;
        margin-right: 10px;
        color: #777777;
    }



}
